<nav class="navbar sticky-top navbar-lg justify-content-start" style="background-color: rgb(238, 238, 240);border-bottom: 2px solid black;">
        <div class="d-flex" style="width: 100%;">
            <div class="mb-4 pb-1">
                <div class="navbar-brand d-flex justify-content-start pl-3" href="/home"><h1 class="fs-1 is-size-2-mobile mt-1 ml-3" style="">find<span style="color: #ff0000;padding: 0;" class="font-weight-bold">Restaurants <span style="color: black"><i class="fa fa-utensils"></i></span></span></h1></div>
            </div>
            <div class="ml-auto justify-content-end fs-1 mb-1 mt-0 d-none d-lg-block">
                <h1><span class="ml-5" style="color: black"><i class="far fa-paper-plane"></i></span><a href="https://github.com/temiloluwa-hub/findRestaurants"><span class="ml-5" style="color: black"><i class="fas fa-code-branch"></i></span></a><a href="https://mobile.twitter.com/nt3rt"><span class="ml-5 mr-5" style="color: black"><i class="fab fa-twitter"></i></div></span></a></h1>
            </div>
        </div>
    
</nav>
