<nav class="navbar sticky-top navbar-expand-lg navbar bg-white">
    <div class="container-fluid">
        <a class="navbar-brand fs-3 ml-5" href="/home"><span class="ml-5"></span><span class="ml-5"></span><h1 class="">find<span style="color: red;">Restaurants</span></h1></a>
    </div>
</nav>