<nav class="navbar">
  <ul class="navbar-nav">
    <li class="nav-item mb-3">
      <h4><a class="button is-white is-medium is-rounded mt-4" style="text-decoration: none;" href="/home">Home</a></h4>
    </li>
    <li class="nav-item mb-3">
      <h4><a class="button is-white is-medium is-rounded" style="text-decoration: none;" href="/explore">Explore</a></h4>
    </li>
    <li class="nav-item mb-3">
      <h4><a class="button is-white is-medium is-rounded" style="text-decoration: none;" href="#">Saved</a></h4>
    </li>
    <li class="nav-item mb-3">
      <h4><a class="button is-white is-medium is-rounded" style="text-decoration: none;" href="#">Profile</a></h4>
    </li>
  </ul>
</nav>
