<nav class="navbar justify-content-center">
  <ul class="navbar-nav ml-4 mr-2 ml-lg-0">
    <li class="nav-item mt-4 mb-1">
      <h4><a class="is-white is-medium is-rounded pl-3 pt-1 pb-1 is-size-4 justify-content-center mt-5" style="text-decoration: none;" href="/home"><span class="d-lg-none" style="color: black;"><i class="fa fa-2x fa-home"></i></span><span style="color: black;" class="d-none d-lg-block">Home</span></a></h4>
    </li>
    <li class="nav-item mb-0">
      <h4><a class="is-white is-medium is-rounded pl-3 pt-1 pb-1 is-size-4 justify-content-center" style="text-decoration: none;" href="/restaurants"><span class="d-lg-none" style="color: black;"><i class="fa fa-2x fa-search"></i></span><span style="color: black;" class="d-none d-lg-block">Explore</span></a></h4>
    </li>
    <% if(currentUser) {%>
    <li class="nav-item mb-0">
      <h4><a class="is-white is-medium is-rounded pl-3 pt-1 pb-1 is-size-4 justify-content-center" style="text-decoration: none;" href="#"><span class="d-lg-none" style="color: black;"><i class="fa fa-2x fa-check-circle"></i></span><span style="color: black;" class="d-none d-lg-block">Saved</span></a></h4>
    </li>
    <li class="nav-item justify-content-center border-bottom">
      <h4><a class="is-white is-medium is-rounded pl-3 pt-1 pb-1 is-size-4 justify-content-center" style="text-decoration: none;" href="#"><span class="d-lg-none" style="color: black;"><i class="fa fa-2x fa-user"></i></span><span style="color: black;" class="d-none d-lg-block">Profile</span></a></h4>
    </li>
    <% } %>
    <br>
      <% if(!currentUser) {%>
        <li class="nav-item">
            <h4><a class="is-white is-medium is-rounded pl-3 pt-1 pb-1 is-size-4 justify-content-center" data-toggle="modal" data-target="#staticBackdrop" style="text-decoration: none;"><span class="d-lg-none" style="color: green;"><i class="fa fa-2x fa-sign-in-alt"></i></span><span style="color: green;" class="d-none d-lg-block">Login <span><i class="fa fa-sign-in-alt"></i></span></span></a></h4>
          </li>
          <li class="nav-item">
            <h4><a class="is-white is-medium is-rounded pl-3 pt-1 pb-1 is-size-4 justify-content-center" data-toggle="modal" data-target="#signupBackdrop" style="text-decoration: none;"><span class="d-lg-none" style="color: rgb(107, 107, 151)"><i class="fa fa-2x fa-user-plus"></i></span><span style="color: rgb(107, 107, 151)" class="d-none d-lg-block">Join <span><i class="fa fa-user-plus"></i></span></span></a></h4>
          </li>
        <% } else {%>
            <li class="nav-item">
                <h4><a href="/logout" class="is-white is-medium is-rounded pl-3 pt-1 pb-1 is-size-4 justify-content-center mb-5" style="text-decoration: none;"><span class="d-lg-none" style="color: red;"><i class="fa fa-2x fa-sign-out"></i></span><span style="color: red;" class="d-none d-lg-block">Leave <span><i class="fa fa-sign-out-alt"></i></span></span></a></h4>
              </li>
            <% } %>
  </ul>
</nav>



