<% layout('layouts/boilerplate.ejs') %>
            <div class="col-10">
                <h1 class="mb-3">Explore</span></h1>
                <div class="gallery" style="display: flex; overflow: scroll; height: 100vh; position: relative; width: 100%; overflow-y: scroll;">
                    <% var count = 1; %>
                    <div> <% for (let restaurant of restaurants) { %>
                        <figure class=<%= `gallery__item gallery__item--${count}`%>>
                            <img src=<%= restaurant.image %> class="gallery__img">
                        </figure>
                        <% count = count + 1; %>
                        <% } %>
                    </div>
                </div>
            </div>

