<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body style="font-family: 'Rubik', sans-serif; width: 100%; height: 100%;" class="body">
    <%-include('./partials/navbar')%>
    <div class="container">
        <div class="row">
            <div class="col-2 border-end border-grey"><%-include('./partials/sidebar')%></div>
            <div class="col-10">
                <h1 class="mb-3">Explore</span></h1>
                <div style="display: flex; overflow: scroll; height: 100vh; position: relative; width: 100%; overflow-y: scroll;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis animi eaque veniam totam maiores necessitatibus? Molestiae numquam reiciendis officia, fuga ducimus tenetur sunt fugiat at soluta expedita, distinctio vel! Et? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus laborum ea architecto et rem corrupti officiis placeat, veritatis ducimus fuga eaque exercitationem id sint harum temporibus ut unde excepturi repudiandae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa dolorem doloribus fugit illo nesciunt tempora, ad cum omnis veniam nostrum hic itaque obcaecati, quam voluptatum tempore, molestias ipsam sapiente ut?
                </div>
            </div>
        </div>
    </div>
    <footer class="text-center py-2 mt-0">
        <div class="container text-center">
            <span class="text-muted">&copy; findRestaurants</span>
        </div>
    </footer>
</body>
</html>

