<% layout('layouts/boilerplate.ejs') %>
            <div class="col-10">

                <h1 class="mb-3">Explore</h1>
                <input class="form-control me-2 mx-4 my-4" type="search" placeholder="Search" aria-label="Search">
                <div class="gallery" style="display: flex; overflow: scroll; height: 100vh;width: 100%; overflow-y: scroll;">
                    <div class="container">
                            <div class="row"> <%for (restaurant of restaurants) { %>
                                <div class="col-4">
                                    <img class="mb-2 mt-2 ml-2" alt="error" style="width:100%" src=<%= restaurant.image %>>
                                </div>
                                <% } %>
                            </div>
                    </div>
                </div>
            </div>

